.footer{
  background-color: $footer-color;
  height: 100px;
  color: #ffffff;
  padding-top: 30px;
  box-sizing: border-box;
    .footer_wrap{
      margin:0 auto;
      width: 950px;
        .footer_logo{
          float: left;
          padding-right: 5px;
          width: 55px;
          height: 20px;
          background: url("../img/footer_logo.png") no-repeat;
        }
        a{
          color: #ffffff;
        }
  }
}