.service_content{
  display: none;
  .service_title{
    color: #ffffff;
    font-size: 35px;
    position: absolute;
    margin-left: 250px;
    text-align: center;
    top: 178px;
  }
  .service_text{
    color: #ffffff;
    position: absolute;
    margin-left: 10px;
    text-align: center;
    top: 230px;
    left: 14%;;
  }
  .service_item_1{
    margin-top: 401px!important;
    margin-left: -45px;
  }
  .service_item:hover{
    transform: scale(1.1 , 1.1);
  }
  .service_item{
    transition: transform .3s;
    width: 20%;
    height: 330px;
    border: 3px solid #5fd9c4;
    background-color: $services-sub-color;
    box-sizing: border-box;
    padding: 20px 0 0 18px;
    float: left;
    margin-right: 20px;
    margin-top: 334px;
      span{
        color: #ffffff;
        text-align: center;
        display: block;
      }
      .service{
        font-size: 20px;
        width: 150px;
      }
      .service_sub_text{
        font-size: 15px;
        width: 150px;
      }
        .service_photo{
          width: 150px;
          height: 150px;
          box-sizing: border-box;
          border-radius:50%;
          margin-bottom: 20px;
        }
        .service_photo_1{
          background-position: -4px -145px;
        }
        .service_photo_2{
          background-position: -152px -145px;
        }
        .service_photo_3{
          background-position: -301px -148px;
        }
        .service_photo_4{
          background-position: -450px -148px;
        }
  }

}